{% extends 'base/base.html' %}

{% block title %}Formulario Supervisor{% endblock %}

{% block content %}
    <div class="content container">
        <div class="content-wrapper col-md-10 col-sm-8">
        <h3 class="has-divider text-highlight">Registrar Supervisor </h3>
            <div class="form-responsive">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div><!--//table-responsive-->
        </div><!--//page-row-->
    </div><!--//content-->
{% endblock %}