{% extends 'base/base.html' %}
{% block title %}Formulario Solicitante{% endblock %}

{% block content %}
    <div class="content container">
        <div class="content-wrapper col-md-10 col-sm-8">
        <h3 class="has-divider text-highlight">Registrar Solicitante </h3>

            <div class="form-responsive">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_solicitante.as_p }}
                    {{ form_datos_academicos.as_p }}
                    {{ form_telefono.as_p }}
                    {{ form_domicilio.as_p}}
                    {{ form_documentos.as_p}}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div><!--//table-responsive-->
        </div><!--//page-row-->
    </div><!--//content-->
{% endblock %}