{% extends 'base/base.html' %} }

{% block title %}Listado Casas Estudiantiles{% endblock %}

{% block content %}
<div class="content container">
    <div class="content-wrapper col-md-10 col-sm-8">
        <div class="page-row">
            <h1 class="no-margin-top has-divider text-highlight">Casas Estudiantiles</h1>
            <div class="table-responsive">
                <table class="table table-boxed">
                    <thead>
                        <td>#</td>
                        <td>Nombre</td>
                        <td>Capacidad</td>
                        <td>Domicilio</td>
                        <td>Detalles</td>
                        <td>Acciones</td>
                    </thead>
                    <tbody>
                    {% if casa_estudiantil %}
                        {% for cs in casa_estudiantil %}
                            <tr>
                                <td>{{ cs.id }}</td>
                                <td>{{ cs.nombre }}</td>
                                <td>{{ cs.descripcion_casa_fk.capacidad }}</td>
                                <td>{{ cs.domicilio_fk.calle }} {{ cs.domicilio_fk.numero }} {{ cs.domicilio_fk.colonia }} {{ cs.domicilio_fk.codigo_postal }}</td>
                                <td> # Camas {{ cs.descripcion_casa_fk.camas }} # Baños {{ cs.descripcion_casa_fk.banios}} # Cuartos {{ cs.descripcion_casa_fk.cuartos}} </td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'casaestudiantil:casaestudiantil_editar' cs.id %}">
                                    Editar
                                    </a>
                                    <a class="btn btn-danger" href="{% url 'casaestudiantil:casaestudiantil_eliminar' cs.id %}">
                                    Eliminar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h1>No hay registros de casas estudiantiles</h1>
                    {% endif %}
                    </tbody>
                </table><!--//table-->
            </div><!--//table-responsive-->
        </div><!--//page-row-->
    </div><!--//page-content-->
</div><!--//content-->
{% endblock %}
